body{
  display: flex;
  justify-content: center;
 
}
form{
  border: solid black;
  padding: 20px
}
div #btn{
  display: flex;
  justify-content: center;

}
h1{
  display: flex;
  justify-content: center;

}
label:hover{
  color:red;
  cursor:pointer;
}
button:hover{
  
  background-color:gray;
  cursor:pointer;
}
button{
  border-radius: 10px;
}